
/*Geral*/
*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('pexels-felix-mittermeier-956981.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
   background-color: rgb(2, 0, 68); 
   color: rgb(255, 255, 255);
   border: transparent;
   padding: .3rem .6rem;
   font-size: 1rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(2, 0, 68);
    border: 1px solid rgb(2, 0, 68);
}

button i {
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/*to do header*/

.todo-container {
    max-width: 450px;
    margin: 3rem auto ;
    background-color: aliceblue;
    padding: 1.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem ;
    border-bottom: 1px solid rgb(108, 108, 108);
    color: rgb(75, 75, 75);
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid rgb(75, 75, 75);
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*to do toolbar*/
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid rgb(75, 75, 75);
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid rgb(75, 75, 75);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;

}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/*to do list*/
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgb(75, 75, 75);
    transition: .3s;  
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: rgb(73, 194, 254);
}

.done h3 {
    color: white;
    text-decoration: line-through;
}